@import '../var.scss' ;

.logo {
    display: flex;
    align-items: center;
  }

  .logoText {
    text-decoration: none;
    font-size: 1.3rem;
    color:var(--heading-color);
    margin-top: 0rem;
  
  }
   .logoIcon{
    margin-right: .5rem;
    font-size: 1.3rem;
    margin-top: 0rem;
    color:white;
    background-color: var(--btn-color);
    padding:.4rem;
    border-radius: 50%;
    border: 2px dashed white;

   }