@import '../var.scss';

.cardsContainer {
  width: 100%; /* Use percentage for fluid width */
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 8rem auto; /* Center the container horizontally */
  display: flex;
  flex-wrap: wrap; /* Allow the cards to wrap to the next line */
  justify-content: space-around; /* Distribute cards with space around them */

  > * {
    flex: 0 0 calc(30% - 20px); /* Each card takes up 30% of the container width with some margin */
    margin: 10px; /* Adjust margin between cards */
  }
}
