@import '../var.scss' ;

.container {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color:rgb(20, 19, 19)
  }
  
  .signupCard{
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: auto;
    background-color:var(--btn-color);
    padding: 10px 30px;
  
    .signupCard_title {
      text-align: center;
  
      h1 {
        font-size: 26px;
        font-weight: bold;
      }
    }
    
    .form {
      input {
        margin: 10px 0;
        width: 100%;
        background-color: #fffafa;
        border: none;
        outline: none;
        padding: 12px 20px;
        border-radius: 4px;
        box-sizing: border-box;
      }
  
      button {
        background-color: #fffafa;
        color:var(--text-black);
        font-size: 16px;
        outline: none;
        border-radius: 5px;
        border: none;
        padding: 8px 15px;
        width: auto;
        font-weight: 600;
        margin: 2px;
      }
    }
  a{
    text-decoration: none;
    font-weight: 700;
    color:var(--text-black)
  }
  
  }
  